# /lib/systemd/system/apt-daily.service
[Unit]
Description=Christmas lights on
ConditionACPower=true
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/lights-on.sh

[Install]
