# /lib/systemd/system/apt-daily.service
[Unit]
Description=Christmas lights off
ConditionACPower=true
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/lights-off.sh

