# lights-off.timer
[Unit]
Description=Christmas lights off timer
Requires=lights-off.service

[Timer]
Unit=lights-off.service
OnCalendar=*-*-* 22:45,50:0
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
