# lights-on.timer
[Unit]
Description=Christmas lights on timer

[Timer]
Unit=lights-on.service
OnCalendar=*-*-* 19:0,30:0
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
