.App {
    text-align: left;
}


/* Medir sensor CSS */
div#devices {
  position: fixed;
  top: 30px;
  bottom: 30px;
  right: 0px;
  left: 0px;
  overflow: auto;
}


div#nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 25px;
  background-color: #222;
  color: #999;
  font-size: 12px;
  padding-top: 5px;
  text-align: right;
  padding-right: 1px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
}

div#nav img.logo {
    position: fixed;
    height: 20px;
    top: 5px;
    left: 5px;
}

div#nav span.nav {
  margin-left: 15px;
  cursor: pointer;
}

div#nav span.nav:hover {
  color: orange;
}


.core {
    color:#0088cc;
}

.tdate {
    color:#0088cc;
}

.time {
    text-align: left;
}

.plug {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}

.dat-unit {
    font-weight: 50;
    font-size: 15px;
    vertical-align: super;
}

.tempc {
    font-weight: 300;
    font-size: 100px;
    vertical-align:top;
}

.tempf {
    font-weight: 150;
    font-size: 30px;
    vertical-align:top;
}

.humid {
    font-weight: 150;
    font-size: 30px;
    vertical-align:top;
}

#auth {
    margin: auto;
    width: 100%;
    padding: 40px;
}

#auth_fields {
    display: inline-block;
}

input {
    background-color: #eae7e7;
    font-size: 20px;
    border-width: 0px;
}

#auth_input {
    padding: 4px;
}

td {
    padding: 10px;
    text-align: bottom;
    /* border: 1px solid white; */
}
